@model Database.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td rowspan="4" style="width: 400px">
            @{string ImageUrl = "/Content/Images/Products/" + Model.Image;}
            <img class="detailsImage" src="@ImageUrl" />
        </td>
        <td style="width: 400px;">
            <h2>
                @Model.Name
            </h2>
            <hr />
        </td>
    </tr>
    <tr>
        <td>
            <span class="detailsDescription">
                @Model.Description
            </span>
        </td>
        @*<td style="margin-left: 10px">
            <asp:Label ID="lblPrice" runat="server" CssClass="detailsPrice"></asp:Label><br />
            Quantity:<asp:DropDownList ID="ddlAmount" runat="server"></asp:DropDownList><br />
            <asp:Button ID="btnAdd" runat="server" CssClass="button" OnClick="btnAdd_Click" Text="Add Product" />
            <br />

            <asp:Label ID="lblResult" runat="server"></asp:Label>
        </td>*@
        <td>
            <div style="margin-left:10px">
                <span class="detailsPrice">Price per unit:<br />£ @Model.Price</span>
                @using (Html.BeginForm("btnAdd_Click", "Home", FormMethod.Post))
                {
                    <br />
                    <span>Quantity: <input type="number" id="quantity" name="quantity" /> </span>
                    <br />
                    <input type="submit" class="button" value="Add Product" />
    <input type="hidden" value=@Model.ID id="productID" name="productID" />
                }
                       @*<button class="button">Add Product</button>*@</div>
        </td>
    </tr>
    <tr>
        <td>
            Product No:
            <br />
            <span style="font-style: italic">@Model.ID</span>
        </td>
    </tr>
    @*<tr>
        <td class="auto-style2">
            &nbsp;<asp:Label ID="lblAvailable" runat="server" CssClass="productPrice">Available!</asp:Label>
        </td>
    </tr>*@
</table>